<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Avant | Pricing</title>
<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../public/css/avant-icons.css">
<link rel="stylesheet" type="text/css" href="../public/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="../public/css/cubeportfolio.min.css">
<link rel="stylesheet" type="text/css" href="../public/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../public/css/owl.transitions.css">
<link rel="stylesheet" type="text/css" href="../public/css/settings.css">
<link rel="stylesheet" type="text/css" href="../public/css/bootsnav.css">
<link rel="stylesheet" type="text/css" href="../public/css/loader.css">
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
<link rel="shortcut icon" href="images/favicon.png">

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="pushmenu-push">
  
<!-- LOADER -->
<div class="loader">
  <div class="tt-loading-center">
    <div class="tt-loading-center-absolute">
      <div class="tt-object object_four"></div>
      <div class="tt-object object_three"></div>
      <div class="tt-object object_two"></div>
      <div class="tt-object object_one"></div>
    </div>
  </div>
  <div id="loading-text">LOADING</div>        
</div>
<!--LOADER Ends-->

   
<div id="wrapper">
<div class="overlay_full"></div>  
     
 <!--header--> 
<header class="transparent">
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-sticky bootsnav">
      <div id="menu_bars" class="right">
        <span class="t1"></span>
        <span class="t2"></span>
        <span class="t3"></span>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index.html"><img src="images/logo1.png" class="logo" alt=""></a>
      </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="slideIn" data-out="fadeOut">
          <li><a href="portfolio.html">Work</a></li>
          <li><a href="about.html">About Us</a></li>
          <li class="dropdown active">
            <a href="#." class="dropdown-toggle" data-toggle="dropdown" >pages</a>
            <ul class="dropdown-menu">
              <li class="dropdown">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Home</a>
                <ul class="dropdown-menu">
                  <li><a href="index.html">Home one</a></li>
                  <li><a href="index2.html">Home two</a></li>
                  <li><a href="index3.html">Home three</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio.html">Portfolio</a></li>
                  <li><a href="portfolio_detail.html">Portfolio Detail</a></li>
                </ul>
              </li>
              <li><a href="service.html">Services</a></li>
              <li><a href="news_detail.html">News Details</a></li>
              <li><a href="pricing.html">Pricing Table</a></li>
              <li><a href="404.html">Error</a></li>
            </ul>
          </li>
          <li><a href="news.html">News</a></li>
          <li class="last"><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="sidebar_menu">
        <nav class="pushmenu pushmenu-right">
          <a class="push-logo" href="index.html"><img src="images/logo1.png" alt="logo"></a>
          <ul class="push_nav centered">
            <li><a href="portfolio.html">Work</a></li>
            <li><a href="about.html">About</a></li>
            <li class="dropdown clearfix">
              <a href="#." class="dropdown-toggle" data-toggle="dropdown">Pages</a>
              <ul class="dropdown-menu clearfix">
                <li><a href="index.html">Home one</a></li>
                <li><a href="index2.html">Home two</a></li>
                <li><a href="index3.html">Home three</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="portfolio_detail.html">Portfolio Detail</a></li>
                <li><a href="service.html">Services</a></li>
                <li><a href="news_detail.html">News Details</a></li>
                <li><a href="pricing.html">Pricing Table</a></li>
                <li><a href="404.html">Error</a></li>
              </ul>
            </li>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
          <div class="clearfix"></div>
          <ul class="social bottom20 top20">
            <li><a href="#."><span><i class="fa fa-facebook"></i></span></a></li>
            <li><a href="#."><span><i class="icon-twitter4"></i></span></a></li>
            <li><a href="#."><span><i class="icon-google"></i></span></a></li>
            <li><a href="#."><span><i class="icon-dribbble4"></i></span></a></li>
            <li><a href="#."><span><i class="icon-vimeo"></i></span></a></li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
</header>
<!--header-->



<!-- Page Header -->
<section class="padding page_header page_header_one">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page_title">
            <h1 class="text-capitalize">Pricing Table <span class="bottom"></span></h1>
            <p class="bottom30">We’re Creative Trending, Branding and Corporate <br>Identity Agency</p>
            <ul class="breadcrumb_link">
               <li><a href="#.">Home</a></li>
               <li>Pages</li>
               <li class="active">Pricing Table</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Header ends -->


<!-- PRICINGS -->
<section id="pricing" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center wow fadeIn" data-wow-delay="500ms">
        <h2 class="bottom10 text-capitalize">Our Pricing</h2>
        <p class="heading_space">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="pricing_filter">
          <span class="btn_border pricing_btn two text-uppercase" id="two">2 column</span>
          <span class="btn_border pricing_btn three active  text-uppercase" id="three">3 column</span>
          <span class="btn_border pricing_btn  text-uppercase" id="four">4 column</span>
        </div>
      </div>
      <div class="pricings three active clearfix">
        <div class="col-sm-4">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="700ms">
            <h3 class="price_title">Basic</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>26<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border text-uppercase top30">sign up</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="800ms">
          <div class="ribbon">
            <p class="on_sale title_shop"><img src="images/shape.png" width="13" alt="hot price">Special</p>
          </div>
            <h3 class="price_title">Standard</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>30<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border fill text-uppercase top30">sign up</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="900ms">
            <h3 class="price_title">Advanced</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>50<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border text-uppercase top30">sign up</a>
          </div>
        </div>
      </div>
      <div class="pricings two clearfix">
        <div class="col-sm-6">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="500ms">
            <h3 class="price_title">Basic</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>26<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border text-uppercase top30">sign up</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="600ms">
          <div class="ribbon">
            <p class="on_sale title_shop"><img src="images/shape.png" width="13" alt="hot price">Special</p>
          </div>
            <h3 class="price_title">Standard</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>30<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border fill text-uppercase top30">sign up</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="600ms">
            <h3 class="price_title">Advanced</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>50<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border text-uppercase top30">sign up</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="700ms">
            <h3 class="price_title">Premium</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>55<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border text-uppercase top30">sign up</a>
          </div>
        </div>
      </div>
      <div class="pricings four clearfix">
        <div class="col-sm-6 col-md-3">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="500ms">
            <h3 class="price_title">Basic</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>26<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border text-uppercase top30">sign up</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="600ms"> 
          <div class="ribbon">
            <p class="on_sale title_shop"><img src="images/shape.png" width="13" alt="hot price">Special</p>
          </div>
            <h3 class="price_title">Standard</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>30<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border fill text-uppercase top30">sign up</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="700ms">
            <h3 class="price_title">Advanced</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>50<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border text-uppercase top30">sign up</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="pricing_table text-center top40 wow fadeIn" data-wow-delay="800ms">
            <h3 class="price_title">Premium</h3>
            <div class="price top30 bottom20">
            <p><span class="dollor">$</span>55<span class="month">/monthly</span></p>
            </div>
            <p class="bottom15">Full access</p>
            <p class="bottom15">Unlimited Bandwidth</p>
            <p class="bottom15">Enail Accounts</p>
            <p class="bottom15">8 Free Forks Every Months</p>
            <a href="#." class="btn_border text-uppercase top30">sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PRICINGS ends -->



<!--FOOTER-->
<footer>
  <div class="container foot_inner padding_top">
    <div class="row">
      <div class="col-sm-4 foot_panel bottom25">
       <img src="images/logo1.png" alt="logo" class="bottom30">
       <p>Start Our Studio Duis aute to irure dolor in reprehenderit in cillum nulla excepteur sint.</p>
      </div>
      <div class="col-sm-8 foot_panel">
        <h3 class="bottom30">Get in Touch</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="reach bottom25">
            <i class="icon-location"></i>
            <p>201 Oak Street<br> Building 27<br> Manchester, UK</p>
            </div>
          </div>
          <div class="col-sm-4 bottom25">
            <div class="reach bottom10">
            <i class="icon-icons202"></i>
            <p>+1(123) 456 7890</p>
            </div>
            <div class="reach">
            <i class="icon-mail"></i>
            <p><a href="#.">hey@avant.com</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <ul class="social bottom25">
              <li><a href="#."><span class="hb"><i class="fa fa-facebook"></i></span></a></li>
              <li><a href="#."><span class="hb"><i class="icon-twitter4"></i></span></a></li>
              <li><a href="#."><span class="hb"><i class="icon-google"></i></span></a></li>
              <li><a href="#."><span class="hb"><i class="icon-dribbble4"></i></span></a></li>
              <li><a href="#."><span class="hb"><i class="icon-vimeo"></i></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
    <div class="row">
      <div class="col-sm-6">
        <p>Copyrights &copy; 2016 Avant. All rights reserved</p>
      </div>
      <div class="col-sm-6 text-right">
        <p>Made with love <i class="icon-heart2"></i> By <a href="#.">Themesindustry</a></p>
      </div>
    </div>
  </div>
  </div>
</footer>
</div>


<script src="../public/js/jquery-2.2.3.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/jquery.parallax-1.1.3.js"></script>
<script src="../public/js/jquery.appear.js"></script>
<script src="../public/js/bootsnav.js"></script>
<script src="../public/js/jquery.cubeportfolio.min.js"></script>
<script src="../public/js/owl.carousel.min.js"></script>
<script src="../public/js/jquery.themepunch.tools.min.js"></script>
<script src="../public/js/jquery.themepunch.revolution.min.js"></script>
<script src="../public/js/jquery.themepunch.revolution.min.js"></script>
<script src="../public/js/revolution.extension.actions.min.js"></script>
<script src="../public/js/revolution.extension.layeranimation.min.js"></script>
<script src="../public/js/revolution.extension.navigation.min.js"></script>
<script src="../public/js/revolution.extension.parallax.min.js"></script>
<script src="../public/js/revolution.extension.slideanims.min.js"></script>
<script src="../public/js/revolution.extension.kenburn.min.js"></script>
<script src="../public/js/revolution.extension.video.min.js"></script>
<script src="../public/js/wow.min.js"></script>
<script src="../public/js/functions.js"></script>
</body>
</html>
